.login-container {
  width: 100%;
  max-width: 350px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  h1 {
    font-size: 18px;
    text-transform: uppercase;
  }

  .btn {
    width: 100%;
  }
}