<div class="login-container">
    <h1>Authentication</h1>
    <form name="loginForm" ng-submit="login()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required ng-model="user.username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
        </div>
        <div class="form-group" ng-if="message">
            <p class="text-danger" ng-bind="message"></p>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid">Login</button>
        </div>
    </form>
</div>